In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
sns.set()
from sklearn.linear_model import LinearRegression
from scipy import stats

In [2]:
raw_data = pd.read_csv('downloads/AEP_hourly.csv')
raw_data

                   Datetime   AEP_MW
0       2004-12-31 01:00:00  13478.0
1       2004-12-31 02:00:00  12865.0
2       2004-12-31 03:00:00  12577.0
3       2004-12-31 04:00:00  12517.0
4       2004-12-31 05:00:00  12670.0
...                     ...      ...
121268  2018-01-01 20:00:00  21089.0
121269  2018-01-01 21:00:00  20999.0
121270  2018-01-01 22:00:00  20820.0
121271  2018-01-01 23:00:00  20415.0
121272  2018-01-02 00:00:00  19993.0

[121273 rows x 2 columns]

In [3]:
df = raw_data.copy()

df

df.head()

              Datetime   AEP_MW
0  2004-12-31 01:00:00  13478.0
1  2004-12-31 02:00:00  12865.0
2  2004-12-31 03:00:00  12577.0
3  2004-12-31 04:00:00  12517.0
4  2004-12-31 05:00:00  12670.0

In [4]:
y = df['AEP_MW']
x1 = df['Datetime']

y = y.values.reshape(-1,1)

x1 = x1.values.reshape(-1,1)

x1.shape

y.shape

(121273, 1)

In [ ]:
plt.scatter(df['Datetime'],df['AEP_MW'])
plt.xlabel('Datetime', fontsize = 20)
plt.ylabel('AEP_MW', fontsize = 20)
plt.show()